VITE_SUPABASE_URL=https://uoqdyyvtujtyvuxycvkj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVvcWR5eXZ0dWp0eXZ1eHljdmtqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1MTEyMDAsImV4cCI6MjA5ODA4NzIwMH0.JCCcIt5ECEVg-m_hHlM9Qykwz70X21QLH0pnbuQbFZQ
